@page "/addband"  
@rendermode InteractiveServer 


<Heading Size="HeadingSize.Is2" TextColor="TextColor.Primary" Class="text-center mb-4">
	You can add bands here
</Heading>

<Container TextColor="TextColor.Primary">
				<Field>
					<Label Class="fs-5 text-dark">Band name:</Label>
					<TextEdit @bind-Text="band.Name" Placeholder="Band name" />
				</Field>

				<Field>
					<Label Class="fs-5 text-dark">Genre:</Label>
					<Select TValue="Genre" @bind-SelectedValue="band.Genre">
						@foreach (Genre genre in Enum.GetValues(typeof(Genre)))
						{
							<SelectItem Value="@genre">@genre</SelectItem>
						}
					</Select>
				</Field>

				<Button Color="Color.Primary" Text Clicked="Submit">Submit</Button>
</Container>


@code {
	[Inject]  
	private IRepositoryBand RepositoryBand { get; set; }  

	public Band band { get; set; } = new Band()
	{
		Name = string.Empty,
		Genre = 0,
	};

	private async Task Submit()  
	{  
		if(String.IsNullOrWhiteSpace(band.Name))
		{
			return;
		}

		try
		{
			await RepositoryBand.AddAsync(band);
			await RepositoryBand.SaveChangeAsync();

			band = new Band() { Name = "", Genre = 0 };
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error adding band: {ex.Message}");
		}

		// Redirect to the band list page  
		NavigationManager.NavigateTo("/bands");  
	}  

	[Inject]  
	private NavigationManager NavigationManager { get; set; }  
}
