@page "/bookings"
@using ShowTime.Repositories.Interfaces
@rendermode InteractiveServer
@inject IRepositoryBooking RepositoryBooking

<AuthorizeView Roles="Admin">

	<Authorized>
		<h1>Bookings</h1>

		<DataGrid TItem="ShowTime.Entities.Booking" Data="@bookings" Responsive Editable Filterable>
			<DataGridColumns>
				<DataGridColumn TItem="ShowTime.Entities.Booking" Field="@nameof(ShowTime.Entities.Booking.Email)" Caption="Email" />
				<DataGridColumn TItem="ShowTime.Entities.Booking" Field="@nameof(ShowTime.Entities.Booking.Date)" Caption="Date" />
				<DataGridColumn TItem="ShowTime.Entities.Booking" Field="@nameof(ShowTime.Entities.Booking.Price)" Caption="Price" />
			</DataGridColumns>
		</DataGrid>
	</Authorized>

	<NotAuthorized>
		<h1>Access denied.</h1>
	</NotAuthorized>

</AuthorizeView>


@code {
	private List<Booking> bookings = new List<Booking>();
	protected override async Task OnInitializedAsync()
	{
		bookings = (await RepositoryBooking.GetAllAsync()).ToList();
	}
}
