#heading {
    font-family: 'Fredoka', serif;
    color: white;
    font-size: 5rem;

    text-align: center;
    margin: 1rem;
}

.f-fredoka {
    font-family: 'Fredoka', serif;
}

.f-roboto {
    font-family: 'Roboto', serif;
}


