@page "/"
@using ShowTime.Components.Layout
@layout MainLayout

<PageTitle>Home</PageTitle>


<div class="container">
    <h1 id="heading">
        ShowTime
    </h1>
    <h3 class="subtitle">
		Your personal festival tracker and booking assistant
	</h3>
</div>    



