@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="@getclass()">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string getclass()
    {
        if(NavManager.Uri.EndsWith('/'))
        {
            return "page home-page";
        }
        else if (NavManager.Uri.Contains("browsefestivals/festival-details"))
        {
			return "page festival-details";
        }
        else if(NavManager.Uri.Contains("browsefestivals"))
        {
            return "page browse-festivals";
        }
        else if(NavManager.Uri.Contains("bands/modify"))
        {
            return "page modify-bands";
        }
        else if(NavManager.Uri.Contains("bands"))
        {
            return "page bands";
        }
        else if(NavManager.Uri.Contains("festivals/modify"))
        {
            return "page modify-festivals";
        }
        else if(NavManager.Uri.Contains("festivals"))
        {
            return "page festivals";
        }
        else
        {
            return "page";
        }
    }
}