@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization

<nav class=" navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="d-flex flex-row navbar-brand d-flex align-items-center" href="">
            <img src="assets/images/ShowTimeLogo.png"
                 alt="ShowTime Logo"
                 class="d-inline-block align-text-top ms-3"
                 style="width:50px; height: auto;"/>
            <span class="ms-2" style="font-size: 27px; font-family: 'Fredoka', sans-serif;">ShowTime</span>
        </a>
    </div>
</nav>


<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">


        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>




        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Class="ms-3" Name="IconName.Home"></Icon>
                <span class="ms-3" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="browsefestivals">
                <Icon class="ms-3" Name="IconName.Music"></Icon>
                <span class="ms-3" aria-hidden="true"></span> Browse Festivals
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bands">
                <Icon Class="ms-3" Name="IconName.Eye"></Icon>
				<span class="ms-3" aria-hidden="true"></span> Bands
			</NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bands/modify">
                <Icon Class="ms-5" Name="IconName.Edit"></Icon>
                <span class="ms-3" aria-hidden="true"></span> Modify Bands
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="festivals">
                <Icon class="ms-3" Name="IconName.Eye"></Icon>
                <span class="ms-3" aria-hidden="true"></span> Festivals
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="festivals/modify">
                <Icon class="ms-5" Name="IconName.Edit"></Icon>
                <span class="ms-3" aria-hidden="true"></span> Modify Festivals
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bookings">
                <Icon class="ms-3" Name="IconName.Eye"></Icon>
                <span class="ms-3" aria-hidden="true"></span> Bookings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bookings/modify">
                <Icon class="ms-5" Name="IconName.Edit"></Icon>
                <span class="ms-3" aria-hidden="true"></span> Modify Bookings
            </NavLink>
        </div>
        </AuthorizeView>

    </nav>
</div>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
